<!DOCFTYPE html>
    <html>

    <head>
        <title>404</title>
        {{>tabicon}}
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>{{errorMessage}}</p>
        </div>
        {{>footer}}

        <script src="js/script.js"></script>
    </body>


    </html>