<!DOCFTYPE html>
    <html>

    <head>
        <title>about</title>
        {{>tabicon}}
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <img class="potrait" src="/img/mypic.png">
        </div>

        {{>footer}}
        <script src="js/script.js"></script>

    </body>


    </html>