<!DOCFTYPE html>
    <html>

    <head>
        <title>help</title>
        {{>tabicon}}
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <h1>please contact us</h1>
        </div>

        {{>footer}}
        <script src="js/script.js"></script>


    </body>


    </html>